.clickable:hover {
  cursor: pointer;
}

.container {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.flex-justify-center {
	justify-content: center;
}

.yellow-highlight {
	background-color: #ffffaa;
}

select {
	background-color: #fff;
}

body {
  line-height: 1.25;
}

@media only screen and (min-width: 575px) {
  #play-act-scene-select {
    display: inline-block;
  }

  #act-select, #scene-select, #character-select {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  #play-act-scene-select {
    display: block;
  }

  #play-select {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 2%;/*margin: 0 auto 1rem auto;*/
    width: 48%;
  }

  #act-select {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 2%;
    width: 22%;
  }

  #scene-select {
    display: inline-block;
    margin-bottom: 1rem;
    width: 26%;
  }

  #character-select {
    display: block;
    width: 100%;
  }

  .container {
    max-width: 90%;
  }


}
